# Inactive model name
inactiveModel=model.structure.portal.highway.
# Active model name
activeModel=model.structure.portal.highway.active.
# Particle effect added to active model (see particle.xml in client graphics pack) - remove lines below to disable
activeParticle=traitor
# Z Offset for particle effect
particleZ=1.28
