# Inactive model name
inactiveModel=model.structure.portal.7.
# Active model name
activeModel=model.structure.portal.7.
# Particle effect added to active model (see particle.xml in client graphics pack) - remove lines below to disable
activeParticle=traitor
# Z Offset for particle effect
particleZ=2.25
